<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/materialize.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/vue.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>


<script type="text/javascript" src="{{ url_for('static', filename='js/components/ascii-icon.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
